

{{- define "containerEnvFrom" }}
{{- if gt (len .EnvFrom) 0 }}
envFrom:
{{- range $src := .EnvFrom }}
{{- if $src.SecretName }}
- secretRef:
    name: {{ $src.SecretName }}
{{- end }}
{{- if $src.ConfigMapName }}
- configMapRef:
    name: {{ $src.ConfigMapName }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}

{{- define "containerEnv" }}
{{- if or (ne (len .container.Environment) 0) (ne (len .system.Environment) 0) }}
env:
{{- range $name,$value := .system.Environment }}
- name: {{ $name }}
  value: "{{ $value }}"
{{- end }}
{{- range $name,$value := .container.Environment }}
- name: {{ $name }}
  value: "{{ $value }}"
{{- end }}
{{- end }}
{{- end }}

{{- define "containerPorts" }}
{{- if gt (len .Ports) 0 }}
ports:
{{- range $pmap := .Ports }}
  - containerPort: {{ $pmap.ContainerPort }}
    {{- if $pmap.Port }}
    port: {{ $pmap.Port }}
    {{- end }}
    protocol: {{ $pmap.Protocol }}
{{- end }}
{{- end }}
{{- end }}

{{- define "containerResources" }}
{{- if or .Resources.Limits .Resources.Requests }}
resources:
  {{- if .Resources.Requests }}
  requests:
    {{- range $name,$value := .Resources.Requests }}
    {{ $name }}: {{ $value }}
    {{- end }}
  {{- end -}}
  {{- if .Resources.Limits }}
  limits:
    {{- range $name,$value := .Resources.Limits }}
    {{ $name }}: {{ $value }}
    {{- end }}
  {{- end }}
{{- end -}}
{{- end -}}

{{define "containerVolumeMounts"}}
{{- if gt (len .VolumeMounts) 0 }}
volumeMounts:
  {{- range $volumeMount := .VolumeMounts }}
  - name: "{{ $volumeMount.Name }}"
    mountPath: "{{ $volumeMount.MountPath }}"
    {{- if ne $volumeMount.SubPath "" }}
    subPath: "{{ $volumeMount.SubPath }}"
    {{- end }}
    readOnly: {{ $volumeMount.ReadOnly }}
  {{- end }}
{{- end }}
{{- end }}

{{- define "containerLivenessProbe" }}
{{- if .container.LivenessProbe }}
  livenessProbe:
    {{ if and .container.LivenessProbe.Exec .container.LivenessProbe.Exec.Command }}
    exec:
      command:
        {{ range $cmd := .container.LivenessProbe.Exec.Command }}
        - {{ $cmd }}
        {{ end }}
    {{ else if and .container.LivenessProbe.HTTPGet .container.LivenessProbe.HTTPGet.Path .container.LivenessProbe.HTTPGet.Port }}
    httpGet:
      path: {{ .container.LivenessProbe.HTTPGet.Path }}
      port: {{ .container.LivenessProbe.HTTPGet.Port }}
      {{ if .container.LivenessProbe.HTTPGet.HttpHeaders }}
      httpHeaders:
        {{ range $name,$value := .container.LivenessProbe.HTTPGet.HttpHeaders }}
        - name: {{ $name }}
          value: {{ $value }}
        {{ end }}
      {{ end }}
    {{ else if .container.LivenessProbe.TCPSocket.Port }}
    tcpSocket:
      port: {{ .container.LivenessProbe.TCPSocket.Port }}
    {{ end }}
    {{ if .container.LivenessProbe.InitialDelaySeconds }}
    initialDelaySeconds: {{ .container.LivenessProbe.InitialDelaySeconds }}
    {{ end }}
    {{ if .container.LivenessProbe.PeriodSeconds }}
    periodSeconds: {{ .container.LivenessProbe.PeriodSeconds }}
    {{ end }}
    {{ if .container.LivenessProbe.FailureThreshold }}
    failureThreshold: {{ .container.LivenessProbe.FailureThreshold }}
    {{ end }}
{{- end }}
{{- end }}

{{define "containerReadinessProbe"}}
{{- if .container.ReadinessProbe }}
  readinessProbe:
    {{ if and .container.ReadinessProbe.Exec .container.ReadinessProbe.Exec.Command }}
    exec:
      command:
        {{ range $cmd := .container.ReadinessProbe.Exec.Command }}
        - {{ $cmd }}
        {{ end }}
    {{ else if and .container.ReadinessProbe.HTTPGet .container.ReadinessProbe.HTTPGet.Path .container.ReadinessProbe.HTTPGet.Port }}
    httpGet:
      path: {{ .container.ReadinessProbe.HTTPGet.Path  }}
      port: {{ .container.ReadinessProbe.HTTPGet.Port }}
      {{ if .container.ReadinessProbe.HTTPGet.HttpHeaders }}
      httpHeaders:
        {{ range $name,$value := .container.ReadinessProbe.HTTPGet.HttpHeaders }}
        - name: {{ $name }}
          value: {{ $value }}
        {{ end }}
      {{ end }}
    {{ else if .container.ReadinessProbe.TCPSocket.Port }}
    tcpSocket:
      port: {{ .container.ReadinessProbe.TCPSocket.Port }}
    {{ end }}
    {{ if .container.ReadinessProbe.InitialDelaySeconds }}
    initialDelaySeconds: {{ .container.ReadinessProbe.InitialDelaySeconds }}
    {{ end }}
    {{ if .container.ReadinessProbe.PeriodSeconds }}
    periodSeconds: {{ .container.ReadinessProbe.PeriodSeconds }}
    {{ end }}
    {{ if .container.ReadinessProbe.FailureThreshold }}
    failureThreshold: {{ .container.ReadinessProbe.FailureThreshold }}
    {{ end }}
{{- end }}
{{- end }}
, 
{{- define "containerSpec" }}
{{- with $context := . }}
{{- with $container := $context.container }}
- name: {{ $container.Name }}
  {{- if $container.SecurityContext }}
  {{- templateToString "securityContext" $container.SecurityContext | indent 2 }}
  {{- end }}
  {{- if $container.Command }}
  command:
    {{- range $_,$arg := $container.Command }}
    - {{ $arg }}
    {{- end }}
  {{- end }}
  {{- templateToString "containerEnv" $context | indent 2 }}
  {{- templateToString "containerEnvFrom" $container | indent 2 }}
  image: {{ $container.Image.ImageName }}
  {{- if $container.Image.Attr.Always }}
  imagePullPolicy: Always
  {{- end }}
  {{- templateToString "containerPorts" $container | indent 2 }}
  {{- templateToString "containerResources" $container | indent 2 }}
  {{- templateToString "containerLivenessProbe" $context | indent 2 }}
  {{- templateToString "containerReadinessProbe" $context | indent 2 }}
  {{- templateToString "containerVolumeMounts" $container | indent 2 }}
{{- end }}
{{- end }}
{{- end }}