{{ define "deployment" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    guid: {{ .system.GUID }}
    app-name: {{ .system.AppName }}
    username: {{ .system.Username }}
  name: {{ .system.AppName }}-{{ .system.GUID }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app-name: {{ .system.AppName }}
      guid: {{ .system.GUID }}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    {{- templateToString "podMetadata" . | indent 4 }}
    {{- templateToString "podSpec" . | indent 4 }}
{{ end }}