{{ define "deployment" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    "helx.renci.org/id": {{ .system.UUID }}
    "helx.renci.org/app-name": {{ .system.AppName }}
    "helx.renci.org/username": {{ .system.UserName }}
  name: {{ .system.InstanceName }}-{{ .system.UUID }}
spec:
  replicas: 1
  selector:
    matchLabels:
      "helx.renci.org/id": {{ .system.UUID }}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    {{- templateToString "podMetadata" . | indent 4 }}
    {{- templateToString "podSpec" . | indent 4 }}
{{ end }}