{{ define "deployment" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    helxapp-guid: {{ .system.Identifier }}
    username: {{ .system.Username }}
  name: {{ .system.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      helxapp-guid: {{ .system.Identifier }}
      username: {{ .system.Username }}
      name: {{ .system.Name }}
      app-name: {{ .system.AppName }}
      original-app-name: {{ .system.AppName }}
      reaper-label: {{ .system.AppName }}
      helxapp-guid: {{ .system.Identifier }}
      helxapp-app-id: {{ .system.AppName }}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    {{- templateToString "podMetadata" . | indent 4 }}
    {{- templateToString "podSpec" . | indent 4 }}
{{ end }}