{{- define "podMetadata" }}
metadata:
  name: {{ .system.AppName }}-{{ .system.UUID }}
  labels:
    name: {{ .system.AppName }}-{{ .system.UUID }}
    "helx.renci.org/app-name": {{ .system.AppName }}
    "helx.renci.org/username": {{ .system.UserName }}
    "helx.renci.org/id": {{ .system.UUID }}
    "helx.renci.org/app-class-name": {{ .system.AppClassName }}
    "helx.renci.org/instance-name": {{ .system.InstanceName }}
    executor: helxapp-controller
{{- end -}}

{{- define "containerList" }}
{{- with $dot := . }}
{{- range $index,$container := .system.Containers }}
{{- with $context := dict "system" $dot.system "container" $container }}
{{- templateToString "containerSpec" $context }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}

{{- define "initContainerList" }}
{{- with $dot := . }}
{{- range $index,$container := .system.InitContainers }}
{{- with $context := dict "system" $dot.system "container" $container }}
{{- templateToString "containerSpec" $context }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}

{{- define "securityContext" }}
securityContext:
  {{- if .RunAsUser }}
  runAsUser: {{ .RunAsUser }}
  {{- end -}}
  {{- if .RunAsGroup }}
  runAsGroup: {{ .RunAsGroup }}
  {{- end -}}
  {{- if .FSGroup }}
  fsGroup: {{ .FSGroup }}
  {{- end }}
{{- end }}

{{- define "podProps" }}
{{- if .system.SecurityContext }}
{{- templateToString "securityContext" .system.SecurityContext | indent 2 }}
{{- end }}
{{- end }}

{{- define "podVolumes" }}
{{- if gt (len .system.Volumes) 0 }}
volumes:
  {{- range $name,$volume := .system.Volumes }}
  - name: {{ $volume.Name }}
    {{- if eq $volume.Scheme "pvc" }}
    persistentVolumeClaim:
      claimName: {{ $volume.Attr.claim }}
    {{- else if eq $volume.Scheme "nfs" }}
    nfs:
      server: {{ $volume.Attr.server }}
      path: {{ $volume.Attr.path }}
    {{- end }}
  {{- end }}
{{- end }}
{{- end }}

{{- define "podSpec" }}
spec:
  {{- template "podProps" . }}
  {{- if gt (len .system.InitContainers) 0 }}
  initContainers:
  {{- templateToString "initContainerList" . | indent 4 }}
  {{- end }}
  containers:
  {{- templateToString "containerList" . | indent 4 }}
  {{- templateToString "podVolumes" . | indent 2 }}
{{- end }}
