{{- define "pvc" }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    executor: helxapp-controller
    "helx.renci.org/id": {{ .system.UUID }}
    {{- if .volume.Attr.retain }}
    "helx.renci.org/retain": true
    {{- end }}
  name: {{ .volume.Attr.claim }}
spec:
  accessModes:
    {{- if .volume.Attr.rwx }}
    - ReadWriteMany
    {{- else if .volume.Attr.rox }}
    - ReadOnlyMany
    {{- else if .volume.Attr.rwop }}
    - ReadWriteOncePod
    {{- else }}
    - ReadWriteOnce
    {{- end }}
  resources:
    requests:
      {{- if .volume.Attr.size }}
      storage: {{ .volume.Attr.size }}
      {{- else }}
      storage: 1G
      {{- end }}
  {{- if .volume.Attr.storageClass }}
  storageClassName: {{ .volume.attr.storageClass }}
  {{- end }}
{{- end }}