{{- define "service" }}
{{- if .container.HasService }}
apiVersion: v1
kind: Service
metadata:
  labels:
    "helx.renci.org/id": {{ .system.UUID }}
  name: {{ .system.InstanceName }}-{{ .system.UUID }}
spec:
  type: ClusterIP
  selector:
    name: {{ .system.AppName }}-{{ .system.UUID }}
  ports:
  {{- range $_,$pmap := .container.Ports }}
    - protocol: {{ $pmap.Protocol }}
      port: {{ $pmap.Port }}
      targetPort: {{ $pmap.ContainerPort }}
  {{- end }}
{{- end }}
{{- end }}